- 
	nav_array = [
			{
				href: '#',
				name: 'Dashboard',
				img: 'key-square'
			},
			{
				href: '#',
				name: 'Product',
				img: '3d-square'
			},
			{
				href: '#',
				name: 'Customers',
				img: 'user-square'
			},
			{
				href: '#',
				name: 'Income',
				img: 'wallet-money'
			},
			{
				href: '#',
				name: 'Promote',
				img: 'discount-shape'
			},
			{
				href: '#',
				name: 'Help',
				img: 'message-question'
			}
		];
.menu_trigger.menuTrigger
	span.menu_trigger_decor
.aside__top
	.aside__logo
		a(href="#")
			+icon('logo')
	h1.aside__title Dashboard <span>v.01</span>
.aside__body
	nav.aside__navigation 
		ul.aside__list
			each el in nav_array
				li 
					.aside__img 
						+icon(el.img)
					a(href=`${el.href}`, class='aside__link')= el.name
					+icon('arrow-right')
.aside__bottom 
	.aside__avatar
		img(src="../../images/user-photo.png", alt="user avatar")
	.aside__user-info
		p.aside__name Evano
		p.aside__position Project Manager
