@import "ScssHelpers/helpers_all";

.row {
	display: flex;
	min-height: 100vh;
}
/*
.aside {
	&__list > li.active > .aside__img > iframe svg path,
	polygon {
		stroke: white;
	}

	&__list > li > .aside__img > iframe svg path,
	polygon {
		stroke: #9197b3;
	}
}
*/
.aside {
	padding: 2.2rem 1.7rem 4.7rem 1.7rem;
	flex: 0 0 21.25%;
	width: 30%;
	display: flex;
	flex-direction: column;
	@include bp($point_1, max) {
		padding: 2.5rem 1.7rem;
	}
	@include bp($point_3, max) {
		padding: 1.9rem 1.5rem;
	}
	@include bp($point_4, max) {
		position: relative;
		flex: 1 1 auto;
		background-color: #fafbff;
		left: 0;
		transition: all 0.7s ease 0s;
		&.hidden {
			left: -130%;
		}
	}
}
.aside__top {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	margin: 0px 0px 2em 0px;
	@include bp($point_3, max) {
		font-size: 1.2rem;
	}
}
.aside__logo {
	margin: 0px 0.5rem 0px 0px;
	width: 2.3rem;
	height: 2.3rem;
	& > a > img {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}
.aside__title {
	font-weight: 600;
	& > span {
		display: inline-block;
		margin: 0px 0.1rem 0px 0px;
		font-size: 0.6rem;
		color: #838383;
	}
	@include bp($point_3, max) {
		& > span {
			display: none;
		}
	}
}
.aside__body {
	flex: 1 1 auto;
}
.aside__navigation {
	font-size: 0.9rem;
	margin: 0px 0px 1.6rem 0px;
}
.aside__list > li.active {
	background-color: #5932ea;
}
.aside__list > li.active > .aside__link {
	color: #fff;
}
.aside__list > li {
	display: flex;
	align-items: center;
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 0.5rem;
	position: relative;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #8362fd;
	}
	&:hover > .aside__link {
		color: #fafbff;
	}
}
.aside__list > li:not(:first-child) {
	&::after {
		content: url("../../images/sprite/arrow-right.svg");
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.9rem;
	}
}
.aside__list > li:not(:last-child) {
	margin: 0px 0px 1.1rem 0px;
}
.aside__img {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0px 0.9rem 0px 0px;
	& > * {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}
.aside__link {
	color: #9197b3;
	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}
.aside__bottom {
	display: flex;
	align-items: center;
}
.aside__avatar {
	max-width: 2.6rem;
	max-height: 2.6rem;
	margin: 0px 0.7rem 0px 0px;
	& > img {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}
.aside__user-info {
	& > * {
		line-height: 150%;
	}
}
.aside__name {
	letter-spacing: 0.2px;
}
.aside__position {
	font-size: 0.7rem;
	list-style: none;
	color: #757575;
}
