@import "ScssHelpers/helpers_all";

.aside {
	padding: 0 1.7rem 0 0;
	min-width: 19.2rem;
	position: relative;

	body.menu_open & {
		transform: translate(0%, 0);
	}

	@include flex_block(column, nowrap, flex-start, stretch);

	@include bp($point_1) {
		padding: 0rem 1.7rem 0rem 0rem;
	}
	@include bp($point_3, min) {
		&::before{
			z-index: 1;
			content:'';
			position: absolute;
			top: -2.2rem;
			bottom: -4.8rem;
			right: 0;
			width: 50vw;
			background-color: $white;
		}
	}
	@include bp($point_3) {
		position: fixed;
		top: 0;
		left: 0;
		transform: translate(-200%, 0);
		z-index: 1;
		height: 100vh;
		flex: 1 1 30%;
		background-color: $color_light;
		padding: 1.9rem 1.5rem;
		overflow: auto;
		transition: all .7s ease 0s;
	}
}

.aside__top {
	z-index: 2;
	@include flex_block(row, wrap, start, center, flex-start);
	font-size: 1.6rem;
	margin: 0 0 2em 0;
	@include bp($point_3) {
		font-size: 1.2rem;
	}
}

.aside__logo {
	margin: 0 .5rem 0 0;
	width: 2.3rem;
	height: 2.3rem;
	& > a > svg {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}

.aside__title {
	font-weight: 600;
	& > span {
		display: inline-block;
		margin: 0 .1rem 0 0;
		font-size: .6rem;
		color: #838383;
	}
	@include bp($point_1) {
		& > span {
			display: none;
		}
	}
}

.aside__body {
	z-index: 2;
	flex: 1 1 auto;
}

.aside__navigation {
	font-size: .9rem;
	margin: 0 0 1.6rem 0;
}

.aside__item-active {
	background-color: #5932ea;
}

.aside__item-active > .aside__link {
	color: $white;
}

.aside__item {
	border-radius: .5rem;	
	position: relative;
	transition: all .3s ease 0s;
	&:hover {
		background-color: #8362fd;
	}
	&:hover > .aside__link {
		color: $color_light;
		text-decoration: none;
	}
	&:first-child > svg {
		display: none;
	}
}

.aside__item > .aside__img {
	stroke: $color_gray;
}

.aside__item:hover > .aside__img {
	stroke: $white;
}

.aside__item > svg {
	position: absolute;
	top: 50%;
	right: .9rem;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
}

.aside__item:not(:last-child) {
	margin: 0 0 1.1rem 0;
}

.aside__img {
	position: absolute;
	top: 50%;
	left: .7rem;
	transform: translate(0, -50%);
	width: 1.5rem;
	height: 1.5rem;
	& > * {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}

.aside__link {
	@include flex_block(row, nowrap, start, center, flex-start);
	padding: .7rem .7rem .7rem 3.1rem;
	color: $color_gray;
	font-weight: 500;
	
}

.aside__bottom {
	z-index: 2;
	@include flex_block(row, nowrap, start, center, flex-start);
}

.aside__avatar {
	max-width: 2.6rem;
	max-height: 2.6rem;
	margin: 0 .7rem 0 0;
	& > img {
		max-width: 100%;
		max-height: 100%;
		overflow: hidden;
	}
}

.aside__user-info {
	line-height: 150%;
}

.aside__name {
	letter-spacing: .2;
}

.aside__position {
	font-size: .7rem;
	list-style: none;
	color: #757575;
}
