@import "ScssHelpers/helpers_all";

.main {
	padding: 2.6rem 9rem 0px 4.5rem;
	max-width: calc(90rem - 19.1rem);
	background-color: #fafbff;
	@include bp($point_1, max) {
		padding: 2.5rem 0rem 2.5rem 0.9rem;
	}
	@include bp($point_3, max) {
		padding: 1.9rem 0.9rem;
		overflow: auto;
		position: fixed;
		top: 0;
		transition: all 0.7s ease 0s;
		right: -130%;
		width: 100%;
		height: 100%;
		right: 0;
	}
	@include bp($point_6, max) {
		padding: 1.8rem 0px;
	}
}
.main__back {
	display: none;
	@include bp($point_3, max) {
		display: block;
		margin: 0px 0px 0.6rem 0.9rem;
		padding: 0.3rem 0.6rem;
		border: 1px solid #9197b3;
	}
	@include bp($point_6, max) {
		margin: 0px 0px 0.6rem 0.9rem;
	}
}
.main__title {
	line-height: 150%;
	font-size: 1.5rem;
	margin: 0px 0px 2.2em 0.9rem;
	@include bp($point_1, max) {
		font-size: 1.4rem;
	}
	@include bp($point_3, max) {
		font-size: 1.2rem;
	}
}
.main__body {
	padding: 1.7rem 2.7rem 2.6rem 2.2rem;
	background-color: #fff;
	border-radius: 1.88rem;
	margin: 0px 0px 7rem 0px;
	overflow: hidden;
	@include bp($point_1, max) {
		padding: 1.7rem 0.9rem 2.5rem 0.9rem;
	}
}
.main__top {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 0px 0.9rem 0px;
	@include bp($point_1, max) {
		font-size: 1.1rem;
	}
}
.main__text {
	& > * {
		line-height: 150%;
	}
}
.main__customers {
	font-size: 1em;
	font-weight: 600;
	margin: 0px 0px 0.3em 0px;
}
.main__members {
	font-size: 0.9rem;
	font-weight: 400;
	color: #16c098;
}
.main__form {
	max-width: 13.2rem;
	/*
	position: relative;
	cursor: pointer;
	&::before {
		content: url("../../images/sprite/search.svg");
		position: absolute;
		top: 0.3rem;
		left: 0.2rem;
	}
	*/
	& > input {
		display: flex;
		align-items: center;
		padding: 0.3rem 1.8rem;
		background-color: #f9fbff;
		border-radius: 0.6rem;
		color: #b5b7c0;
		font-size: 0.7rem;
		line-height: 150%;
		min-height: 2.4rem;
		border: none;
		&::placeholder {
			color: #b5b7c0;
		}
	}
	@include bp($point_1, max) {
		& > input {
			max-width: 8.8rem;
			padding: 0.3rem 1rem 0.3rem 1.8rem;
		}
	}
}
.main__users {
	margin: 0px 0px 2.3rem 0px;
	@include bp($point_4, max) {
		overflow-x: auto;
	}
}
.main__user {
	display: grid;
	column-gap: 0.2rem;
	align-items: center;
	grid-template-columns:
		minmax(7.8rem, 9.5rem) minmax(4.7rem, 7.8rem) minmax(6.9rem, 9.4rem) minmax(8rem, 11.9rem) minmax(5.9rem, 8.4rem)
		minmax(3.7rem, 1fr);
	padding: 1.2rem 0px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #eeeeee;
	}
	& > * {
		font-weight: 500;
		color: #292d32;
		line-height: 150%;
		white-space: nowrap;
	}
	@include bp($point_1, max) {
		column-gap: 0.4rem;
		margin: 0px -0.9rem 0px -0.9rem;
		padding: 1.2rem 0.9rem 1.2rem 0.9rem;
	}
}
.main__phone {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
.main__email {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
.main__user--headline {
	margin: 0px -2.7rem 0px -2.2rem;
	padding: 0px 2.7rem 0.9rem 2.2rem;
	& > * {
		color: #b5b7c0;
		font-weight: 400;
		cursor: auto;
	}

	& > *:hover {
		text-decoration: none;
	}
	@include bp($point_1, max) {
		margin: 0px -0.9rem 0px -0.9rem;
		padding: 1.2rem 0.9rem 1.2rem 0.9rem;
	}
}
.main__status {
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.2rem;
}
.main__status--active {
	padding: 0.1rem 1.1rem;
	color: $color_status_active;
	border: 1px solid $color_status_active;
	background-color: rgba(22, 192, 152, 0.38);
	@include bp($point_3, max) {
		padding: 0.1rem 0.7rem;
	}
	@include bp($point_6, max) {
		padding: 0.1rem 0.6rem;
	}
}
.main__status--inactive {
	padding: 3px 12px;
	color: $color_status_inactive;
	border: 1px solid $color_status_inactive;
	background-color: rgba(255, 197, 197, 1);
	@include bp($point_3, max) {
		padding: 0.2rem 0.3rem;
	}
	@include bp($point_6, max) {
		padding: 0.2rem 0.3rem;
	}
}
.main__bottom {
	padding: 0px 2.5rem 0px 2.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include bp($point_1, max) {
		padding: 0px 0.9rem;
	}
	@include bp($point_4, max) {
		padding: 0px 0.9rem;
		justify-content: center;
	}
}
.main__number {
	line-height: 150%;
	color: #b5b7c0;
	@include bp($point_4, max) {
		display: none;
	}
}
.main__pagination {
	display: flex;
	align-items: center;
}
.main__pagination-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #eeeeee;
	color: #404b52;
	max-height: 1.5rem;
	background-color: #f5f5f5;
	padding: 0.3rem 0.6rem;
	font-size: 0.7rem;
	border-radius: 0.3rem;

	&:first-child {
		margin: 0px 0.6rem 0px 0px;
	}

	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
.main__pagination-items {
	display: flex;
	align-items: center;
	& > * {
		margin: 0px 0.6rem 0px 0px;
	}
}
.main__pagination-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eeeeee;
	color: #404b52;
	background-color: #f5f5f5;
	padding: 0.3rem 0.6rem;
	font-size: 0.7rem;
	border-radius: 0.3rem;
	transition: all 0.3s ease 0s;

	&.active {
		background-color: #5932ea;
		color: #ffffff;
		border: 1px solid #5932ea;
	}

	&:hover {
		background-color: #9175f7;
		color: #ffffff;
		border: 1px solid #5932ea;
	}
}
